@charset "utf-8";
/* CSS Document */

.gallery-wrapper{
    margin:0 auto;
    width:100%;
}


/************************************ Main (selected) image/video CSS *********************************/
.gallery-center{
    position: relative;

    /* Set main content wrapper dimensions here */
    width:700px;
    height:467px;

    margin:10px auto;
    border:solid 10px #f8f8f8;
    background: #000;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}
.gallery-mainItem{
    padding:inherit;
    position: absolute;
    width:inherit;
    height:inherit;
    z-index: 1;
}
.gallery-mainItem > *,
.video-container > *{
    position: absolute;
    top:0;
    left:0;
    width:inherit;
    height:inherit;
}
.img-container img{
    position: relative;
    width:auto;
    height: auto;
    display:block;
    margin:0 auto;
}

.youtube-after{
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    background:url(img/play_btn_hover.png);
    opacity: 0.7;
    width:100px;
    height:75px;
    display: block;
    cursor:pointer;
}
.youtube-after:hover{
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity:1;
}

/************************************ Controlls CSS *********************************/

.gallery-controls{
    position:absolute;
    width:inherit;
    top:200px;
    z-index: 1000;
}
.gallery-controls div{
    position:absolute;
    top:14px;
    width:42px;
    height:48px;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity:0.5;
    cursor:pointer;
    background-image:url(img/arrows.png);
}
.gallery-controls div:hover{
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity:9;
}

.gallery-slideLeft{
    left:4px;
    background-position:0 0;
}
.gallery-slideLeft:active{
}

.gallery-slideRight{
    right:4px;
    background-position:-42px 0;
}
.gallery-slideRight:active{
}


/************************************ Captions CSS ***********************************/

.gallery-caption{
    width:inherit;
    text-align: center;
    font-size:20px;
    padding:20px 0;
}

/************************************ Thumbnails list CSS ***********************************/

.gallery-thumbsWrapper{
    position: relative;
    width:inherit;
    height:112px;
    margin:0 auto;
    overflow: hidden;
    background: #f8f8f8;
    box-shadow:1px 1px 4px rgba(0,0,0,0.5);
}
.gallery-thumbs{
    margin:0 auto;
    padding:0;
    position: relative;
}
.gallery-thumbs li{
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity: 0.6;
    margin:8px 4px;
    display: inline;
    position:relative;
    float:left;
}
.gallery-thumbs li.centered, .gallery-thumbs li:hover{
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity:1;
}

.gallery-thumbs li img{
    height:96px;
}

/************************************ Loading spinner CSS ***********************************/

.spinner-wrapper{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(255,255,255,0.3);
    z-index: 100;
}
.spinner {
    height:30px;
    width:30px;
    position:absolute;
    z-index: 100;
    -webkit-animation: rotation 1s infinite linear;
    -moz-animation: rotation 1s infinite linear;
    -o-animation: rotation 1s infinite linear;
    animation: rotation 1s infinite linear;
    border:6px solid #000;
    border-radius:100%;
    opacity:0.7;
}

.spinner:before {
    content:"";
    display:block;
    position:absolute;
    left:-6px;
    top:-6px;
    height:100%;
    width:100%;
    border-top:6px solid #6aafd8;
    border-left:6px solid transparent;
    border-bottom:6px solid transparent;
    border-right:6px solid transparent;
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}